/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;

  /* === Luna Palette === */
  --luna-lightest: #a7ebf2;
  --luna-light: #54acbf;
  --luna-medium: #26658c;
  --luna-dark: #023859;
  --luna-darkest: #011c40;

  /* Both variants should be consistent between them. */
  --bg: var(--base-bg);
  --fg: var(--base-fg);

  --sidebar-bg: var(--alt-bg);
  --sidebar-fg: var(--alt-fg);
  --sidebar-non-existant: var(--disabled);
  --sidebar-active: var(--clickable);
  --sidebar-spacer: var(--disabled);

  --scrollbar: var(--clickable);

  --icons: var(--disabled);
  --icons-hover: var(--base-fg);

  --links: var(--clickable);

  --inline-code-color: var(--alt-fg);

  --theme-popup-bg: var(--alt-bg);
  --theme-popup-border: var(--disabled);
  --theme-hover: var(--disabled);

  --quote-bg: var(--quote);
  --quote-border: var(--quote);

  --table-border-color: var(--base-fg);
  --table-header-bg: var(--base-bg);
  --table-alternate-bg: var(--quote);

  --searchbar-border-color: var(--disabled);
  --searchbar-bg: var(--alt-bg);
  --searchbar-fg: var(--alt-fg);
  --searchbar-shadow-color: var(--alt-bg);
  --searchresults-header-fg: var(--results);
  --searchresults-border-color: var(--base-fg);
  --searchresults-li-bg: var(--selected);
  --search-mark-bg: var(--selected);
}

/* Themes */

.light {
  --base-bg-rgb: 167, 235, 242;
  --base-bg: var(--luna-lightest);
  --base-fg: var(--luna-darkest);
  --alt-bg-rgb: 84, 172, 191;
  --alt-bg: var(--luna-light);
  --alt-fg: var(--luna-dark);
  --disabled: var(--luna-medium);
  --quote: rgba(84, 172, 191, 0.2);
  --clickable: var(--luna-dark);
  --results: var(--luna-medium);
  --selected: var(--luna-light);
}

.dark {
  --base-bg-rgb: 1, 28, 64;
  --base-bg: var(--luna-darkest);
  --base-fg: var(--luna-lightest);
  --alt-bg-rgb: 2, 56, 89;
  --alt-bg: var(--luna-dark);
  --alt-fg: var(--luna-light);
  --disabled: var(--luna-medium);
  --quote: rgba(2, 56, 89, 0.4);
  --clickable: var(--luna-light);
  --results: var(--luna-medium);
  --selected: var(--luna-dark);
}

@media (prefers-color-scheme: dark) {
  /* Same as dark. */
  .light.no-js {
    --base-bg-rgb: 1, 28, 64;
    --base-bg: var(--luna-darkest);
    --base-fg: var(--luna-lightest);
    --alt-bg-rgb: 2, 56, 89;
    --alt-bg: var(--luna-dark);
    --alt-fg: var(--luna-light);
    --disabled: var(--luna-medium);
    --quote: rgba(2, 56, 89, 0.4);
    --clickable: var(--luna-light);
    --results: var(--luna-medium);
    --selected: var(--luna-dark);
  }
}
